entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Start Full Application"

[[workflows.workflow]]
name = "Start E-Commerce Server"
author = 45009257
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"E Commerce Website -/project\" && npm run server"

[[workflows.workflow]]
name = "Start Full Application"
author = 45009257
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"E Commerce Website -/project\" && npm run server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"E Commerce Website -/project\" && npm run dev"

[[workflows.workflow]]
name = "Start Frontend Only"
author = 45009257
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"E Commerce Website -/project\" && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
